@import '../../design-tokens/tokens.css';

.storybook-button {
  font-family: var(--base-font-family);
  font-weight: var(--font-weight-semi-bold);
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: var(--linen-light);
  background-color: var(--amethyst-base);
}
.storybook-button--secondary {
  color: var(--grey-darkest);
  background-color: var(--linen-base);
  box-shadow: var(--linen-base) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 24px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 28px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 32px;
}
